.timer {
  text-align: center;
  font-family: 'Covered By Your Grace', cursive;
  line-height: 1;
  padding: 20px;

  div {
    margin: 15px;
    min-width: 100px;

    span {
      display: block;
      font-size: 25px;
      color: white;
    }
  }
}


@media (min-width: 320px) {
  .timer {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
  }
}

@media (min-width: 768px),
(orientation: landscape) {
  .timer {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
  }
}

.days {
  font-size: 200px;
  color: #db4844;
}

.hours {
  font-size: 150px;
  color: #f07c22;
}

.minutes {
  font-size: 100px;
  color: #f6da74;
}

.seconds {
  font-size: 50px;
  color: #abcd58;
}
