<div class="container">
  <table>
    <tr>
      <td>
        <span class="titulo" >¡Feliz Cumpleaños Juli!</span>
      </td>
    </tr>
    <tr>
      <td>
        <span class="spacer"></span>
      </td>
    </tr>
    <tr>
      <td>
        <span class="texto" >
          <p>
            ¡Feliz cumpleaños, hermosa persona!<br />
            Hoy el mundo brilla un poco más porque es tu día, pero tengo que
            admitir que tu sonrisa ya lo ilumina siempre. <br />
            Que este año te traiga todo lo que deseas… Aunque ya te esta
            sorprendiendo bastante.
          </p>
        </span>
      </td>
    </tr>
  </table>

  <div class="tortica">
    <div class="candle">
      <div id="flame" class="lit"></div>
    </div>
    <div class="candle">
      <div id="flame" class="lit"></div>
    </div>
    <div class="candle">
      <div id="flame" class="lit"></div>
    </div>
    <div class="candle">
      <div id="flame" class="lit"></div>
    </div>
    <div class="candle">
      <div id="flame" class="lit"></div>
    </div>
    <div class="candle">
      <div id="flame" class="lit"></div>
    </div>
    <div class="candle">
      <div id="flame" class="lit"></div>
    </div>
    <div class="candle">
      <div id="flame" class="lit"></div>
    </div>
    <div class="candle">
      <div id="flame" class="lit"></div>
    </div>
    <div class="candle">
      <div id="flame" class="lit"></div>
    </div>
    <div class="candle">
      <div id="flame" class="lit"></div>
    </div>
    <div class="candle">
      <div id="flame" class="lit"></div>
    </div>
    <div class="candle">
      <div id="flame" class="lit"></div>
    </div>
    <div class="candle">
      <div id="flame" class="lit"></div>
    </div>
    <div class="candle">
      <div id="flame" class="lit"></div>
    </div>
    <div class="candle">
      <div id="flame" class="lit"></div>
    </div>
    <div class="candle">
      <div id="flame" class="lit"></div>
    </div>
    <div class="candle">
      <div id="flame" class="lit"></div>
    </div>
    <div class="candle">
      <div id="flame" class="lit"></div>
    </div>
    <div class="candle">
      <div id="flame" class="lit"></div>
    </div>
    <div class="candle">
      <div id="flame" class="lit"></div>
    </div>
    <div class="candle">
      <div id="flame" class="lit"></div>
    </div>
    <div class="candle">
      <div id="flame" class="lit"></div>
    </div>
    <div class="candle">
      <div id="flame" class="lit"></div>
    </div>
    <div class="candle">
      <div id="flame" class="lit"></div>
    </div>
    <div class="candle">
      <div id="flame" class="lit"></div>
    </div>
    <div class="candle">
      <div id="flame" class="lit"></div>
    </div>
    <div class="candle">
      <div id="flame" class="lit"></div>
    </div>
    <div class="candle">
      <div id="flame" class="lit"></div>
    </div>
    <div class="candle">
      <div id="flame" class="lit"></div>
    </div>
    <div class="cake"></div>
    <div class="plate"></div>
  </div>

  <div class="bokeh"></div>
  <div class="bokeh"></div>
  <div class="bokeh"></div>
  <div class="bokeh"></div>
  <div class="bokeh"></div>
  <div class="bokeh"></div>
  <div class="bokeh"></div>
  <div class="bokeh"></div>
  <div class="bokeh"></div>
  <div class="bokeh"></div>
  <div class="bokeh"></div>
  <div class="bokeh"></div>
  <div class="bokeh"></div>
  <div class="bokeh"></div>
  <div class="bokeh"></div>
  <div class="bokeh"></div>
  <div class="bokeh"></div>
  <div class="bokeh"></div>
  <div class="bokeh"></div>
  <div class="bokeh"></div>
  <div class="bokeh"></div>
  <div class="bokeh"></div>
  <div class="bokeh"></div>
  <div class="bokeh"></div>
  <div class="bokeh"></div>
  <div class="bokeh"></div>
  <div class="bokeh"></div>
  <div class="bokeh"></div>
  <div class="bokeh"></div>
  <div class="bokeh"></div>
  <div class="bokeh"></div>
  <div class="bokeh"></div>
  <div class="bokeh"></div>
  <div class="bokeh"></div>
  <div class="bokeh"></div>
  <div class="bokeh"></div>
  <div class="bokeh"></div>
  <div class="bokeh"></div>
  <div class="bokeh"></div>
  <div class="bokeh"></div>
  <div class="bokeh"></div>
  <div class="bokeh"></div>
  <div class="bokeh"></div>
  <div class="bokeh"></div>
  <div class="bokeh"></div>
  <div class="pyro">
    <div class="before"></div>
    <div class="after"></div>
  </div>
</div>
