<div class="torta">
  <h1>¡Feliz Cumpleaños Maye!</h1>
  <h2>
    <p>Hoy celebramos el día en que nació alguien tan especial y encantadora como tú. Espero que tu día esté lleno de
      sonrisas, abrazos y momentos inolvidables. Que este nuevo año te traiga tantas alegrías como tú traes a quienes te
      rodean.</p>
    <p>P.D. ¿Quién diría que alguien tan increíble seguiría mejorando con cada año?</p>
  </h2><span>🎉</span>
  <div class="bokeh"></div>
  <div class="bokeh"></div>
  <div class="bokeh"></div>
  <div class="bokeh"></div>
  <div class="bokeh"></div>
  <div class="bokeh"></div>
  <div class="bokeh"></div>
  <div class="bokeh"></div>
  <div class="bokeh"></div>
  <div class="bokeh"></div>
  <div class="bokeh"></div>
  <div class="bokeh"></div>
  <div class="bokeh"></div>
  <div class="bokeh"></div>
  <div class="bokeh"></div>
  <div class="bokeh"></div>
  <div class="bokeh"></div>
  <div class="bokeh"></div>
  <div class="bokeh"></div>
  <div class="bokeh"></div>
  <div class="bokeh"></div>
  <div class="bokeh"></div>
  <div class="bokeh"></div>
  <div class="bokeh"></div>
  <div class="bokeh"></div>
  <div class="bokeh"></div>
  <div class="bokeh"></div>
  <div class="bokeh"></div>
  <div class="bokeh"></div>
  <div class="bokeh"></div>
  <div class="bokeh"></div>
  <div class="bokeh"></div>
  <div class="bokeh"></div>
  <div class="bokeh"></div>
  <div class="bokeh"></div>
  <div class="bokeh"></div>
  <div class="bokeh"></div>
  <div class="bokeh"></div>
  <div class="bokeh"></div>
  <div class="bokeh"></div>
  <div class="bokeh"></div>
  <div class="bokeh"></div>
  <div class="bokeh"></div>
  <div class="bokeh"></div>
  <div class="bokeh"></div>
  <div class="pyro">
    <div class="before"></div>
    <div class="after"></div>
  </div>
  <div class="tortica">
    <div class="candle">
      <div id="flame" class="lit"></div>
    </div>
    <div class="candle">
      <div id="flame" class="lit"></div>
    </div>
    <div class="candle">
      <div id="flame" class="lit"></div>
    </div>
    <div class="candle">
      <div id="flame" class="lit"></div>
    </div>
    <div class="candle">
      <div id="flame" class="lit"></div>
    </div>
    <div class="candle">
      <div id="flame" class="lit"></div>
    </div>
    <div class="candle">
      <div id="flame" class="lit"></div>
    </div>
    <div class="candle">
      <div id="flame" class="lit"></div>
    </div>
    <div class="candle">
      <div id="flame" class="lit"></div>
    </div>
    <div class="candle">
      <div id="flame" class="lit"></div>
    </div>
    <div class="candle">
      <div id="flame" class="lit"></div>
    </div>
    <div class="candle">
      <div id="flame" class="lit"></div>
    </div>
    <div class="candle">
      <div id="flame" class="lit"></div>
    </div>
    <div class="candle">
      <div id="flame" class="lit"></div>
    </div>
    <div class="candle">
      <div id="flame" class="lit"></div>
    </div>
    <div class="candle">
      <div id="flame" class="lit"></div>
    </div>
    <div class="candle">
      <div id="flame" class="lit"></div>
    </div>
    <div class="candle">
      <div id="flame" class="lit"></div>
    </div>
    <div class="candle">
      <div id="flame" class="lit"></div>
    </div>
    <div class="candle">
      <div id="flame" class="lit"></div>
    </div>
    <div class="candle">
      <div id="flame" class="lit"></div>
    </div>
    <div class="candle">
      <div id="flame" class="lit"></div>
    </div>
    <div class="candle">
      <div id="flame" class="lit"></div>
    </div>
    <div class="candle">
      <div id="flame" class="lit"></div>
    </div>
    <div class="candle">
      <div id="flame" class="lit"></div>
    </div>
    <div class="candle">
      <div id="flame" class="lit"></div>
    </div>
    <div class="candle">
      <div id="flame" class="lit"></div>
    </div>
    <div class="candle">
      <div id="flame" class="lit"></div>
    </div>
    <div class="candle">
      <div id="flame" class="lit"></div>
    </div>
    <div class="candle">
      <div id="flame" class="lit"></div>
    </div>
    <div class="cake"></div>
    <div class="plate"></div>
  </div>
</div>
